pkgbase = listen
	pkgdesc = Minimal audio transcription tool - 100% on-premise
	pkgver = 1.1.3
	pkgrel = 1
	url = https://github.com/gmoqa/listen
	arch = any
	license = MIT
	makedepends = python-pip
	depends = python
	depends = python-numpy
	depends = python-sounddevice
	depends = portaudio
	depends = ffmpeg
	source = listen-1.1.3.tar.gz::https://github.com/gmoqa/listen/archive/refs/tags/v1.1.3.tar.gz
	sha256sums = 16fd654625f1c52354bfc21b9c24b0bcc83700ae10a98acc717be1bfb40a4f35

pkgname = listen
