pkgbase = listen
	pkgdesc = Minimal audio transcription tool - 100% on-premise
	pkgver = 1.1.2
	pkgrel = 1
	url = https://github.com/gmoqa/listen
	arch = any
	license = MIT
	makedepends = python-pip
	depends = python
	depends = python-numpy
	depends = python-sounddevice
	depends = portaudio
	depends = ffmpeg
	source = listen-1.1.2.tar.gz::https://github.com/gmoqa/listen/archive/refs/tags/v1.1.2.tar.gz
	sha256sums = d6c7cea3efdbca1bb69ee4a4b47fd444614144492b9aad7797b47f2f715d5f32

pkgname = listen
